@import 'tailwindcss';

@theme {
	--color-primary: 51 132 253;
	--color-secondary: 91 67 240;
	--color-accent: 139 54 218;
	--color-background: 255 254 255;
	--color-light: 63 167 245;
}

:root {
	--primary: 51 132 253;
	--secondary: 91 67 240;
	--accent: 139 54 218;
	--background: 255 254 255;
	--light: 63 167 245;
}